div.psv-section {
	margin-bottom: 5px; 
	border: 1px solid #CCC; 
	padding: 5px 10px 0 10px;
}

span.psv-result {
	float: right; 
	margin: 0 0 5px 15px; 
	padding: 0 15px; 
	background-color: #EEE; 
	color: black;
}

div.psv-voting-block {
	margin-top:10px; 
	text-align:right;
}

a.psv-vote-link {
	background-color: #EEE;
	color: #333;
	padding: 2px 10px;
	text-decoration: none;
}

a.psv-vote-link:hover {
	background-color: #AAA;
}

span.psv-vote-response {
	font-style: italic;
	font-size: 11px;
	margin-right: 10px;
}


